* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    font-family: Georgia, 'Times New Roman', Times, serif, Arial, sans-serif;
  }

  header {
      color: #71d7f8;
    padding: 20px 35px;
    background-color: #4b5a77;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    z-index: 9999;
  }

  header h1 {
    margin: 0;
    font-size: 36px;
    color: #71d7f8;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }

    header h1 a {
        text-decoration: none ;
    }

  header a {
    color: #71d7f8;
  }

  header nav {
    margin: 7px 0;
  }

  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }

  header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 2.5vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  header nav ul li a:hover {
    background: #ffffff;
    color: #024e76;
    border-radius: 15px;
    text-shadow: 0 0 5px rgb(252, 206, 1)
  }


  /* HERO STYLES START */
.hero {
    background-image: url('/assets/img/abstract.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
    background-position: 80%;
  }

  .hero-cta {
    width: 85%;
    text-align: right;
    margin: 3.5%;
    color:#71d7f8;
    font-size: 40px;
    line-height: 6.2;
  }
  /* HERO STYLES START */