* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    font-family: Georgia, 'Times New Roman', Times, serif, Arial, sans-serif;
  }
/* Start Navigation Bar */
  header {
    color: #71d7f8;
    padding: 20px 35px;
    background-color: #4b5a77;
    display: inline-block;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
  }

  header h1 {
    margin: 0;
    font-size: 36px;
    color: #71d7f8;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }

    header h1 a {
        text-decoration: none ;
    }

  header a {
    color: #71d7f8;
  }

  header nav {
    margin: 7px 0;
  }

  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }

  header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 2.5vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  /* End Navigation Bar */

/* Adding pseudo-class */
  header nav ul li a:hover {
    background: #ffffff;
    color: #024e76;
    border-radius: 15px;
    text-shadow: 0 0 5px rgb(252, 206, 1)
  }

  .run img:hover{
    opacity: 50%;
  }

  .search img:hover{
    opacity: 50%;
  }


  /* HERO STYLES START */
 
/* The background was downloaded from https://www.freepik.com/photos/background'Background photo created by kjpargeter -*/
  .hero {
    background-image: url('/assets/img/abstract.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
    background-position: 80%;
    display: inline-block;
    margin-bottom: 20px auto;
    
  }

  .hero-cta {
    width: 85%;
    margin: 4.5%;
    color:#71d7f8;
    font-size: 30px;
    line-height: 1.9;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    display: inline-block;
  }
  .hero-cta h2{
    position: absolute;
    right: 80px;
    top: 300px;
    display: inline-block;
   
  }
  .hero-cta img {
    margin: 20px;
    padding: 5px;
    border-radius: 15px;
    background-color: #4b5a77;
    display: flex;
    flex-wrap: wrap;
    width: 25%;
    height: auto;
    display: inline-block;

  }
 
  /* HERO STYLES end */

  /* About me STYLES Start*/

 .step {
    margin-top: 20px;
    padding-bottom: 50px;
    width: 94%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  .step:last-child {
    border-bottom: none; }

.step h2 {
    color: #1148b8;
    font-size: 40px;
    flex: 1 20%;
    padding:0 auto;
    margin-left: 50px;
    
  }
  .step-text {
    width: 1178px;
  }

  .step-text p {
    border-left-style: solid;
    padding: 20px;
    line-height: 1.7;
    color: #1148b8;
    width: 100%;
    margin: 0 auto;
    font-size: 20px;
    text-align: left;
    font-size: 18px;
}

/* About me STYLES END */

/* Work STYLES START */
.middle {
    margin: 20px auto;
    padding-bottom: 50px;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
  }

  .middle h2 {
    color: #1148b8;
    font-size: 40px;
    flex: 1 20%;
    padding:0 auto;
    margin-left: 1px;
    
  }

  .middle-text {
    flex: 150;
  }

.middle-text nav {
    border-left-style: solid;
    padding: 20px;
    line-height: 1.7;
    color: #1148b8;
    width: 100%;
    margin: 0 auto;
    font-size: 20px;
    text-align: left;
    font-size: 18px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.middle-text a {
    color: #1148b8;   
}

.middle-text nav ul {
display: flex;
justify-content: space-evenly;
flex-wrap: wrap;
flex: 150%;
list-style: none;
}

.middle img{
border:solid 5px;
flex: 1 12%;
margin: 10px;
display: flex;
justify-content: space-between;
flex-wrap: wrap;
}

.middle img :hover{
color: gold;

}


/* Putting Text-Box on images Start */
  .run {
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  .run img{
    width: 1115px;
  }

  .search {
    position: relative;
  }

  .search img{
    width: 510px;
    height: 300px;
  }

  

  .text-block {
    position: absolute;
    bottom: 20px;
    left: 10px;
    background-color: #073591;
    color: #71d7f8;
    padding-left: 20px;
    padding-right: 20px;
  }
/* Putting Text-Box on images End */

/* Work STYLES END */


/* Contact me STYLES START */
.foot {
  /* margin: 20px auto; */
  padding-bottom: 50px;
  width: 94%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between; 
  }

  .foot:last-child {
    border-bottom: none;
  }

  .foot h2 {
    color: #1148b8;
    font-size: 40px;
    flex: 1 20%;
    padding:0 auto;
    margin-left: 50px;
    
  }

  .foot-text {
    width: 1178px;

  }

.foot-text nav {
  border-left-style: solid;
  padding: 20px;
  line-height: 1.7;
  color: #1148b8;
  width: 100%;
  margin: 0 auto;
  font-size: 20px;
  text-align: left;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  
}

.foot-text a {
    color: #1148b8;  
   
     
}

.foot-text nav ul {
    list-style: none;
    
}

.foot-text nav ul {
display: flex;
justify-content: space-between;
flex-wrap: wrap;
flex:100%;
}

/* Contact me STYLES END */

/* Adding Media Query on Website start */

@media screen and (max-width: 1340px) {
    
  header nav ul li a {
    font-size:30px;
   
}
.middle-text {
  flex: 150%;
}

.run img{
  width: 915px;
}

.search img{
  width: 550px;
}
 
.step-text {
  flex: 150%;
}


.foot-text nav {
  width: 100%;
}

.middle-text nav ul li{
margin: 20;

}
}
@media screen and (max-width: 1297px){
  .run img{
    width: 615px;
  }

}



@media screen and (max-width: 540px){
  .run img{
    width: 415px;
  }

  .search img{
    width: 350px;
    height: 200px;
  }

}

@media screen and (max-width: 1628px){
  .step-text p {
width: 88%;
  }
 
  .foot-text nav {
width: 88%;

  }

}

@media screen and (max-width: 704px){
  .run img{
    width: 565px;
  }

  .search img{
    width: 470px;
    height: 300px;
  }
  .foot-text nav {
    width: 1000px;
    
      }

}

@media screen and (max-width: 575px){

  header nav ul li a {
    font-size:40px;
   
}
  .run img{
    width: 465px;
  }

  .search img{
    width: 370px;
    height: 250px;
  }
  .foot-text nav {
    width: 100%;
  }

}

@media screen and (max-width: 1789px){
  .foot {
  
  width: 89%;
 
  }
  .step {
  
    width: 89%;
   
   
  }
}

@media screen and (max-width: 1724px){
  .foot {
  
    width: 92%;
   
    }
    .step {
    
      width: 92%;
     
     
    }
  }

  @media screen and (max-width: 1663px){
    .foot {
  
      width: 94%;
     
      }
      .step {
      
        width: 94%;
       
       
      }

  }

  /* Adding Media Query on Website End */

  









